.searchResults {
    height: 200px !important;


}

.customCard {
    width: 150px !important;
    height: 75%;
}

.card-title{
    background-color: black;
}

body { 
    background: url("https://66.media.tumblr.com/a5a40774c62cb739442a8667f7dd833f/tumblr_p60mgpdYwb1u0cbvdo1_500.gifv") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .input-field{
      background-color: white;
      font-size: 16px;
  }

  .row{
    background-color: rgba(0,0,0,.5)
  }

  #scoreRow{
      color:white;
  }
  
  #mobile-demo{
    background-color: #ee6e73;
}