html{
    width: fit-content;
}

body{
    background-color: teal;
    background-image: url("https://i.ytimg.com/vi/BvHls0CROh0/maxresdefault.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    background-color: white;
    border: solid teal 5px;
    border-radius: 7px;
    padding: 28px;
    margin-bottom: 10px;

}

h4{
    color: white;
}
.btn{
    width:100%;
    margin-bottom: 5px;
}

#where-to-watch{
    background-color: white;

}